.sCard{
    width: 20%;
    min-width: 10rem;
    background-image: linear-gradient(to bottom right, rgb(239, 233, 231),rgb(218, 224, 242), rgb(249, 207, 242));
    box-shadow: 2px 2px 3px gray;
}
.sCard > p{
    margin: 0;
}